<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- color definition -->
    <xacro:property name="silver" value="0.74902 0.74902 0.74902 1.0"/>

    <!-- Macro for visual material -->
    <xacro:macro name="gz_material" params="link">
    <gazebo reference="${link}">
        <visual>
        <material>
            <ambient>${silver}</ambient>
            <diffuse>${silver}</diffuse>
            <specular>${silver}</specular>
        </material>
        </visual>
    </gazebo>
    </xacro:macro>

    <!-- Macro for contact parameters -->
    <xacro:macro name="gz_contact" params="
        link
        mu:=0.8
        kp:=1e5
        kd:=50
        maxVel:=0.1
        minDepth:=0.001
        maxContacts:=10
        selfCollide:=true
        dampingFactor:=0.0">
    <gazebo reference="${link}">
        <selfCollide>${selfCollide}</selfCollide>
        <mu1>${mu}</mu1>
        <mu2>${mu}</mu2>
        <kp>${kp}</kp>
        <kd>${kd}</kd>
        <maxVel>${maxVel}</maxVel>
        <minDepth>${minDepth}</minDepth>
        <maxContacts>${maxContacts}</maxContacts>
        <dampingFactor>${dampingFactor}</dampingFactor>
    </gazebo>
    </xacro:macro>


    <!-- Base Link -->
    <xacro:gz_material link="base:1"/>
    <xacro:gz_contact link="base:1" mu="0.8"/>

    <!-- Forearm Link -->
    <xacro:gz_material link="forearm:1"/>
    <xacro:gz_contact link="forearm:1" mu="0.8"/>

    <!-- Palm Axis Link -->
    <xacro:gz_material link="palm_axis:1"/>
    <xacro:gz_contact link="palm_axis:1" mu="1.0"/>

    <!-- PalmL:1 Link -->
    <xacro:gz_material link="palmL:1"/>
    <xacro:gz_contact link="palmL:1" mu="1.2" kp="5e4" kd="80"/>

    <!-- Thumb Axis Link -->
    <xacro:gz_material link="Thumb_axis"/>
    <xacro:gz_contact link="Thumb_axis" mu="1.2" kp="5e4" kd="80"/>

    <!-- Thumb Links -->
    <xacro:gz_material link="Thumb_Proximal"/>
    <xacro:gz_contact link="Thumb_Proximal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Thumb_Methacarpal"/>
    <xacro:gz_contact link="Thumb_Methacarpal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Thumb_Distal"/>
    <xacro:gz_contact link="Thumb_Distal" mu="1.2" kp="5e4" kd="80"/>

    <!-- Index Links -->
    <xacro:gz_material link="Index_Proximal"/>
    <xacro:gz_contact link="Index_Proximal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Index_Middle"/>
    <xacro:gz_contact link="Index_Middle" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Index_Distal"/>
    <xacro:gz_contact link="Index_Distal" mu="1.2" kp="5e4" kd="80"/>

    <!-- Middle Links -->
    <xacro:gz_material link="Middle_Proximal"/>
    <xacro:gz_contact link="Middle_Proximal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Middle_Middle"/>
    <xacro:gz_contact link="Middle_Middle" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Middle_Distal"/>
    <xacro:gz_contact link="Middle_Distal" mu="1.2" kp="5e4" kd="80"/>

    <!-- Ring Links -->
    <xacro:gz_material link="Ring_Proximal"/>
    <xacro:gz_contact link="Ring_Proximal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Ring_Middle"/>
    <xacro:gz_contact link="Ring_Middle" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Ring_Distal"/>
    <xacro:gz_contact link="Ring_Distal" mu="1.2" kp="5e4" kd="80"/>

    <!-- Small Links -->
    <xacro:gz_material link="Small_Proximal"/>
    <xacro:gz_contact link="Small_Proximal" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Small_Middle"/>
    <xacro:gz_contact link="Small_Middle" mu="1.2" kp="5e4" kd="80"/>
    <xacro:gz_material link="Small_Distal"/>
    <xacro:gz_contact link="Small_Distal" mu="1.2" kp="5e4" kd="80"/>


    <!-- Gazebo ROS2 Control Plugin -->
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find rh8d_control)/config/rh8dL_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    </robot>
